<div class="page-header">
  <h1>
    <%= link_to @link.title, @link.url %>
    <%= link_to 'Visit URL', @link.url, class: 'btn btn-xs btn-primary' %>

    <div class="btn-group pull-right">
      <%= link_to like_link_path(@link), method: :put, class: 'btn btn-xs btn-primary' do %>
          <span class="glyphicon glyphicon-chevron-up"></span> Upvote <%= @link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_link_path(@link), method: :put, class: 'btn btn-xs btn-primary' do %>
          <span class="glyphicon glyphicon-chevron-down"></span> Downvote <%= @link.get_downvotes.size %>
      <% end %>
    </div>
  </h1>
  <small>Submitted by <%= @link.user.email %></small>
  <br>
</div>
<% if @link.user == current_user %>
    <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-default' %>
    <%= link_to 'Delete', @link, method: :delete, data: {confirm: 'Are Your Sure?'}, class: 'btn btn-xs btn-danger pull-right' %>
<% end %>